<html>
  <head>
    <title>Mystery Letter</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  </head>

  <body>

    <p>
      <span class="magazine1 big rotateleft">This</span>
      <span class="roughpaper medium skewleft">is</span>
      <span class="comic reallybig rotateright">your</span>
      <span class="newspaper medium skewright">last</span>
      <span class="canvas big">clue</span>
      <span class="magazine2 medium skewleft">you</span>
      <span class="computerprintout medium">need</span>
      <span class="comic big">.</span>
      <span class="roughpaper medium rotateright">The</span>
      <span class="comic big skewleft">code</span>
      <span class="newspaper big skewleft">is</span>
      <span class="magazine1">6</span>
      <span class="magazine2 medium skewleft">5</span>
      <span class="computerprintout reallybig">5</span>
      <span class="comic medium">3</span>
      <span class="magazine2 big rotateright">6</span>
      <span class="computerprintout medium">.</span>
    </p>
    
  </body>
  
</html>	
