<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
<!--<h1>Hi my name is Gavin</h1>-->
<!--<h1>I like Python</h1>-->
<!--<h1>I can program a web page</h1>-->
<div id="outside">
    <p id="outside-title">
        Have a good lunch!
    </p>
    <img id="outside-pic" src="https://lemonthy.ca/pic/h101/rainbow.png">
    <p>
        <button onclick="open_card()">
            Click to Open
        </button>
    </p>


</div>
<div id="inside">
    <p id="inside-title">
        Have a good lunch!
    </p>
    <img id="inside-pic" src="https://lemonthy.ca/pic/h101/dinosaur.png">
    <p id="message">
        Hopefully it was good
    </p>
    <p>
        <button onclick="close_card()">
            Click to Close
        </button>
    </p>

</div>
</body>
</html>